<h1>line area charts</h1>
<app-line-area-charts></app-line-area-charts>
<h1>bar charts</h1>
<app-bar-charts></app-bar-charts>
<h1>pie charts</h1>
<app-pie-charts></app-pie-charts>
<h1>heat map chart</h1>
<app-heat-map-chart></app-heat-map-chart>
<h1>gauge chart</h1>
<app-gauge-chart></app-gauge-chart>
<h1>polar/radar chart</h1>
<app-polar-radar-chart></app-polar-radar-chart>
<h1>linear gauge chart</h1>
<app-linear-gauge-chart></app-linear-gauge-chart>
<h1>number card chart</h1>
<app-number-card-chart></app-number-card-chart>
<h1>tree map chart</h1>
<app-tree-map-chart></app-tree-map-chart>
<h1>bubble chart</h1>
<app-bubble-chart></app-bubble-chart>