<table>
    <tr>
        <td>
            <ngx-charts-bar-vertical [results]="productSales" [view]="view" [scheme]="colorScheme" [schemeType]="schemeType" [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis" [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel" [yAxisLabel]="xAxisLabel" [legendTitle]="legendTitle" [legendPosition]="legendPosition" [animations]="animations" [showGridLines]="showGridLines" [trimXAxisTicks]="trimXAxisTicks" [trimYAxisTicks]="trimYAxisTicks"
                [rotateXAxisTicks]="rotateXAxisTicks" [maxXAxisTickLength]="maxXAxisTickLength" [maxYAxisTickLength]="maxYAxisTickLength" [xAxisTickFormatting]="formatString" [yAxisTickFormatting]="formatNumber" [yAxisTicks]="yAxisTicks" [showDataLabel]="showDataLabel"
                [barPadding]="barPadding" [tooltipDisabled]="tooltipDisabled" [roundEdges]="roundEdges">
            </ngx-charts-bar-vertical>
        </td>
    </tr>
    <tr>
        <td>
            <ngx-charts-bar-horizontal [results]="productSales" [view]="view" [scheme]="colorScheme" [schemeType]="schemeType" [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis" [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="yAxisLabel" [yAxisLabel]="xAxisLabel" [legendTitle]="legendTitle" [legendPosition]="legendPosition" [animations]="animations" [showGridLines]="showGridLines" [trimXAxisTicks]="trimXAxisTicks" [trimYAxisTicks]="trimYAxisTicks"
                [rotateXAxisTicks]="rotateXAxisTicks" [maxXAxisTickLength]="maxXAxisTickLength" [maxYAxisTickLength]="maxYAxisTickLength" [xAxisTickFormatting]="formatNumber" [yAxisTickFormatting]="formatString" [xAxisTicks]="yAxisTicks" [showDataLabel]="showDataLabel"
                [barPadding]="barPadding" [tooltipDisabled]="tooltipDisabled" [roundEdges]="roundEdges">
            </ngx-charts-bar-horizontal>
        </td>
    </tr>
</table>

<table>
    <tr>
        <td>
            <ngx-charts-bar-vertical-stacked [results]="productSalesMulti" [view]="view" [scheme]="colorScheme" [schemeType]="schemeType" [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis" [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [legendTitle]="legendTitleMulti" [legendPosition]="legendPosition" [animations]="animations" [showGridLines]="showGridLines" [showDataLabel]="showDataLabel" [barPadding]="barPadding" [tooltipDisabled]="tooltipDisabled">
            </ngx-charts-bar-vertical-stacked>
        </td>
    </tr>
    <tr>
        <td>
            <ngx-charts-bar-horizontal-stacked [results]="productSalesMulti" [view]="view" [scheme]="colorScheme" [schemeType]="schemeType" [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis" [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="yAxisLabel" [yAxisLabel]="xAxisLabel" [legendTitle]="legendTitleMulti" [legendPosition]="legendPosition" [animations]="animations" [showGridLines]="showGridLines" [showDataLabel]="showDataLabel" [barPadding]="barPadding" [tooltipDisabled]="tooltipDisabled">
            </ngx-charts-bar-horizontal-stacked>
        </td>
    </tr>
</table>

<table>
    <tr>
        <td>
            <ngx-charts-bar-vertical-normalized [results]="productSalesMulti" [view]="view" [scheme]="colorScheme" [schemeType]="schemeType" [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis" [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [legendTitle]="legendTitleMulti" [legendPosition]="legendPosition" [animations]="animations" [showGridLines]="showGridLines" [barPadding]="barPadding" [tooltipDisabled]="tooltipDisabled">
            </ngx-charts-bar-vertical-normalized>
        </td>
    </tr>
    <tr>
        <td>
            <ngx-charts-bar-horizontal-normalized [results]="productSalesMulti" [view]="view" [scheme]="colorScheme" [schemeType]="schemeType" [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis" [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="yAxisLabel" [yAxisLabel]="xAxisLabel" [legendTitle]="legendTitleMulti" [legendPosition]="legendPosition" [animations]="animations" [showGridLines]="showGridLines" [barPadding]="barPadding" [tooltipDisabled]="tooltipDisabled"></ngx-charts-bar-horizontal-normalized>
        </td>
    </tr>
</table>

<table>
    <tr>
        <td>
            <ngx-charts-bar-vertical-2d [results]="productSalesMulti" [view]="view" [scheme]="colorScheme" [schemeType]="schemeType" [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis" [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [legendTitle]="legendTitleMulti" [legendPosition]="legendPosition" [animations]="animations" [showGridLines]="showGridLines" [barPadding]="barPadding" [tooltipDisabled]="tooltipDisabled"></ngx-charts-bar-vertical-2d>
        </td>
    </tr>
    <tr>
        <td>
            <ngx-charts-bar-horizontal-2d [results]="productSalesMulti" [view]="view" [scheme]="colorScheme" [schemeType]="schemeType" [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis" [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="yAxisLabel" [yAxisLabel]="xAxisLabel" [legendTitle]="legendTitleMulti" [legendPosition]="legendPosition" [animations]="animations" [showGridLines]="showGridLines" [barPadding]="barPadding" [tooltipDisabled]="tooltipDisabled"></ngx-charts-bar-horizontal-2d>
        </td>
    </tr>
</table>
